//@import '/bootstrap-5.0.2//scss/bootstrap-reboot.scss';
//@import '/bootstrap-5.0.2/scss/bootstrap-grid.scss';


body{
    font-family: "Zen Antique", serif;
    font-weight: 400;
    font-style: normal;


    p,h4{
        font-family: "Noto Sans SC", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }
}

.title{
    p{
        font-family: "Zen Antique", serif;
        //font-weight: 400;
        font-style: normal;
        letter-spacing: 2rem;
        font-size: larger;
        margin-bottom: 0;
    }
}

.brand{
    margin-top: 1%;
    width: 60%;
    height: auto;

}
.preamble{
    font-family: "Zen Antique Soft", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    margin-top: 35%;
   

}


.navbar{
    //position: fixed;
    //margin-top: 832px;
    left: 0px;
    right: 0px;
    height: 62px;
    background: linear-gradient(to right,transparent , white ,transparent);
    z-index: 1000;
    .navbar-nav{
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 8rem;
    }
    
    .nav-item{
        padding: 1rem;
     
        display: inline-block;
        text-decoration: none;
        color: black ;
        &:hover , &:active {
                color:gray ;
        }
    }   
}

.custom-navbar{
    position: absolute;
    top: 110vh;
    width: 100%; 
    left: 0;
    z-index: 10;
}


body{
    background-color: #EEDEBC;
}
.subtitle{
    color: #CB833B;
    font-size: 64px;
    display:flex ;
    flex-direction: column;
    .pattern{
        width: 60%;
        height: auto;
    }
}


.h0{
    font-size: 36px;
}
.card{
    margin-top: -30%;
    width: 90vh;
    height: 290px;
    background-color: #FCF4F2;
    padding: 40px;
    color: #CB833B;
    //background-image: url('/img/card_flow.png');
   
    z-index: 900;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    
    .h0{
        letter-spacing: 2rem;
    }
    .title{
        
        margin-bottom: 110px;
        letter-spacing: 1.5rem;
    }
    .learn_more{
        height: 24px;
        display: flex;
        color: gray;
        gap: 1rem;

        &:hover,
        &:active {
            color: black;
            gap: 2rem;
        }
        .arrow{
            width: 65px;
            height: 18px;
        }
    }
}

.step{
    gap:1rem;
    color: black;
    padding: 0;
    margin-top: 2rem;
    p{
        color: gray;
    }
}

.img-container{
    
    line-height: 0.1;
    img{
        box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    }
    h1{
        color: #7C5840;
    }
    h2{
        line-height: 1;
        color: #828282;
        .gray{color:#7C5840;}
        .red{color: #C94C4C;}

    }
    p{
       color: #EEDEBC; 
    }
}
.text_box{
    h1{
        color: #CB833B;
        margin-bottom: 5%;
    }
    h4{
        color:#828282;
    }
}
.form{
    background-image: url('../img/296683-P7FHWG-566-02.png');
    background-repeat:repeat;
   
    form{
        background-color: #FFEEDD;
        
        border: 6px solid #D8A67B;
        margin-top: 80px;
        margin-bottom: 80px;
        padding-top: 90px;
        padding-bottom: 67px;
        padding-left: 56px;
        padding-right: 56px;
        label{
            padding-bottom: 0.5rem;
        }
        input{
            width: 100%;
            height: 48px;
            border-radius: 8px;
            border: 1px solid #E0E0E0;
        }
        textarea{
            width: 100%;
            border-radius: 8px;
            border: 1px solid #E0E0E0;
        }
    }
}
.full-bg {
  margin-left: -50vw;
  margin-right: -50vw;
  padding-left: 50vw;
  padding-right: 50vw;
}
.wadding_card {
  background-image: url('../img/Mask group.png');
  background-repeat: no-repeat;
  background-size: cover;         
  background-position: top center;  /* 圖片置頂置中 */

}
.btn{
    background-color: #D8A67B;
    width: 18rem;
    height: 1rem;
    padding: 1rem 1rem;
    border: none;
    border-radius: 50px;
    color: white;
    text-align: center;
    height: auto;

}

footer{
    background-color: #D8A67B;
    color: white;
    padding: 28px;
}




.d-flex{
    display: flex;
}
.align-items-center{
     align-items: center; 
} 
.justify-content-center{
    justify-content: center;
}
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
.card_1{
    justify-content: center; 
    margin-top: 15%;
    margin-left: -20%;
}
.card_2{
    justify-content: center; 
    margin-top: 15%;
    margin-left: 10%;
}
.card_3{
    justify-content: center; 
    margin-top: 15%;
    margin-left: -20%;
}
.card_img1{
    margin-top:192px;
    width: 80vh;
}
.card_img2{
    margin-top:90px; 
    width: 80vh;
}
.flow_img1{
    right: 0;
    z-index: -1;
    width: 20%;
}
.flow_img2{
    margin-top: 50%;
    z-index: -1;
    width: 20%;
}

header{
    min-height: 140vh;
}

@media (max-width: 575.98px) {
  #navbarNav.collapse.show {
    background-color: white;
    opacity: 0.7;
  }
  .custom-navbar {
    top: 0 !important; 
    position: relative; 
  }
  header{
    min-height: 30vh;
  }
  .title{
    font-size: large;
  }
  .card{
    width: 70vh;
    .h0{
        letter-spacing: 1rem;
    }
    .title{  
        margin-bottom: 110px;
        letter-spacing: 0.5rem;
    }
  }
  .card_1{
    margin-left: 0;
    margin-top: 20%;
    }
   .card_2{
    margin-top: 20%;
    margin-left: 0;
   }
   .card_3{
  
        margin-top: 0%;
        margin-left: 0%;
        margin-bottom: 15%;
    }
    .card_img1{
        width: 100%;
        margin-top:50px;
    }
   .card_img2{
     margin-top:30px; 
     width: 100%;
    }
    .flow_img1{
        width: 25%;
    }
    .flow_img2{
        margin-top: 120%;
        z-index: -1;
        width: 25%;
    }
    .step{
        justify-content: center;
        gap:1rem;
        color: black;
        padding: 0;
        margin-top: 2rem;
        font-size: small;
        p{
            font-size: smaller;
            color: gray;
        }
        .heart{
            display: flex;
            justify-content: flex-end; 
            align-items: center;
        }
        img{
            
            width: 60%;
        }
    }

}

